<center><div style="border-bottom: 1px solid #bbb; margin-bottom: 15px;">
  <img src="{{imgpath}}" alt="Description"/></img>
  <br> Share This !<br>
  
  <a href="#/liat-img/{{pathid}}" socialshare socialshare-description="{{ayat}}" socialshare-media="{{imgpath}}"
    socialshare-provider="facebook" socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-via="1661318324106310"
    socialshare-popup-height="600" socialshare-popup-width="500" socialshare-text="{{qsc}}" socialshare-type="share">
    <img src='icon/facebook.png' border='0' alt="facebook" />
 </a> &nbsp;
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="twitter" socialshare-text="{{ayat}} - {{qs}}" socialshare-hashtags="randomayat"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/twitter.png' border='0' alt="twitter" />
 </a> &nbsp;
 <a href="#/liat-img/{{pathid}}" socialshare
   socialshare-provider="google+" socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}"
   socialshare-popup-height="600" socialshare-popup-width="500">
   <img src='icon/google_plus.png' border='0' alt="google_plus" />
</a>&nbsp;
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="pinterest" socialshare-media="{{imgpath}}"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-text="{{ayat}} - {{qs}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/pinterest.png' border='0' alt="pinterest" />
  </a>&nbsp
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="linkedin" socialshare-description="{{ayat}} - {{qs}}"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-text="{{qsc}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/linkedin.png' border='0' alt="linkedin" />
  </a>&nbsp
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="reddit"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-text="{{qsc}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/reddit.png' border='0' alt="reddit" />
  </a>&nbsp
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="digg" socialshare-media="{{imgpath}}"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-text="{{qsc}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/digg.png' border='0' alt="digg" />
  </a>&nbsp
  <a href="#/liat-img/{{pathid}}" socialshare
    socialshare-provider="delicious" socialshare-media="{{imgpath}}"
    socialshare-url="http://randomayat.com/#/liat-img/{{pathid}}" socialshare-text="{{qsc}}"
    socialshare-popup-height="600" socialshare-popup-width="500">
    <img src='icon/delicious.png' border='0' alt="delicious" />
  </a>&nbsp
  <br><br>
</div></center>
